#upload-file{
  width:100px !important;
}
html {
background-color: #EDF0F4;
}



.post-actions-attachments{
  position: relative;
  top: 39px;
  height: 54px;
}

#showFileName{
  width: 300px !important;
  height: 1em!important;

  display: block!important;
}

body {
  padding: 0;
  margin: 0;
  height:100vh;
  background-color: #EDF0F4;
}


@media (max-height:800px) {}

@media (max-width: 900px) {
  .menu {
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .arrow.left,
  .arrow.right {
    display: none;
  }
  .arrow.up,
  .arrow.down {
    display: inline-block;
  }
}


@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}




.tz-link {
  text-decoration: none;
  color: #fff !important;
  font: bold 36px Arial, Helvetica, sans-serif !important;
}

.tz-link span {
  color: #da431c;
}

/* The main content */
.main-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  padding-top: 40px;
  margin: 0 0 0px 350px;
  height:100vh;
}




/* * Post widget * */

input[type="file"] {
  display: none;
  
}
ul {
  list-style-type: none;
}

.btn {
  padding: .5em 1em;

  background-color: transparent;
  color: #6b7270;

  border: none;
  cursor: pointer;
}

.post {
  width: 100%;
  min-height: 100px;
  height: auto;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);

  background-color: #fff;

  margin: auto;
  overflow: hidden;
}

.post-header{
  padding: .2em .5em;

  background-color: #eaeaea;
  color: #3f5563;
}
.post-header .post-title{
  font-size: 18px;
}

.post-content{
  width: 100%;
  height: 50%;
}
.post-text{
  width: 100%;
  height: 100%;
  padding: .5em;

  border: none;
  resize: none;
}
.post-text:focus {
  outline: none;
}

.widget-post__options {
  padding: .5em;
}
.widget-post___input {
  display: inline-block;

  width: 24%;
  padding: .2em .5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions-label {
  cursor: pointer;
  color:white;
}

.post-actions {
  width: 100%;
  padding: .5em;
}
.post-actions {
  position: relative;
  padding: .5em;

  background-color: #f5f5f5;
  color: #a2a6a7;
}
.post-actions-attachments {
  display: inline-block;
  width: 60%;
}
.attachments-btn {
  background: #8e2de2;
  background: -webkit-linear-gradient(to left, #8e2de2, #4a00e0);
  background: linear-gradient(to left, #8e2de2, #4a00e0)
  color: #007582;

  border-radius: 1.5em;
}

.attachments-btn:hover{
  border:none;
}

.post-actions__widget {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.post-actions__publish {
  width: 120px;

  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;

  border-radius: 1.5em;
}

.post-actions__publish:hover{
  border:none;
  color: white;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}



.box {
  background: white;
  margin: auto;
  margin-top: 5%;
  max-width: 100%;
  padding: 20px 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  border-left: 8px solid #23A13A;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.box h1{
background: #8e2de2;
background: -webkit-linear-gradient(to left, #8e2de2, #4a00e0);
background: linear-gradient(to left, #8e2de2, #4a00e0);
color: white;
width: 200px;
font-size: 19px;
padding: 10px;
border-radius: 9px;
}
button {
  border:none;
  background: red;
  color: #f0f0f2;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  border-right: 2px solid black;
}

h1 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}







/* * SR * */
.sr-only {
  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 0;

}


/* *  Placeholder contrast * */
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}









/* The left-collapsing sidebar */

.sidebar-left-collapse {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 300px;
  height: 96%;
  padding: 20px 0;
  margin: 17px;
  border-radius: 10px;
}

.sidebar-left-collapse > a {
  display: block;
  text-decoration: none;
  font-family: Cookie, cursive;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  font-weight: normal;
  border-radius: 50%;
  background-color: #181a1b;
  border-radius: 122px;
border:4px solid white;
}


.sidebar-left-collapse a img{
  width: 100%;
  height: 100%;
  border-radius: 122px;
  background: white;
}

.sidebar-left-collapse .sidebar-links {
  margin: 30px auto;
}
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
.sidebar-left-collapse h2{
  color:white;
  text-align: center;
  margin: 10px 0;
font-family: 'Crete Round', serif;
}

.sidebar-left-collapse h3{
  color:white;
  text-align: center;
  margin: 10px 0;
  font-family: 'Crete Round', serif;
}

.sidebar-links div > a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 10px 0 10px 5px;
  background-color: #35393e;
  text-align: left;
  color: #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  border-left-width: 2px;
  border-left-style: solid;
}

.sidebar-links div.selected > a {
  background-color: #ffffff;
  color: #565d63;
  margin: 0;
}

.sidebar-links div > a i.fa {
  position: relative;
  font-size: 20px;
  top: 3px;
  width: 40px;
  text-align: center;
}

/* Link Colors */

/* Making the sidebar responsive */

@media (max-width: 900px) {
  .main-content {
    max-width: none;
    padding: 70px 20px;
    margin: 0 0 40px;
  }
  .sidebar-left-collapse {
    width: auto;
    height: auto;
    position: static;
    padding: 20px 0 0;
        position: relative;
  }
  .sidebar-left-collapse .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }
  .sidebar-links div {
    display: inline-block;
    width: 100px;
  }
  .sidebar-links div > a {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-left: none;
    border-top-width: 2px;
    border-top-style: solid;
  }
  .sidebar-links div > a i.fa {
    display: block;
    margin: 0 auto 5px;
  }


  .sidebar-links div.selected .sub-links li {
    display: inline-block;
  }
  .sidebar-links div.selected .sub-links a {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    color: #748290;
  }
}
/* Smartphone version */

@media (max-width: 450px) {
  .main-content {
    padding: 90px 20px;
  }
  .sidebar-left-collapse {
    padding: 20px 0;
        position: relative;
  }
  .sidebar-left-collapse .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
    position: relative;
    z-index: 99;
  }
  .sidebar-links div {
    display: block;
    width: 240px;
    margin: 0 auto 5px;
  }
  .sidebar-links div > a {
    text-align: left;
    padding: 10px 25px;
    vertical-align: middle;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
  }
  .sidebar-links div > a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
  }
  .sidebar-links div.selected .sub-links {
    bottom: -90px;
  }
}



.heading{
  position: relative;
  left: 50%;
  top: 15px;
  width: 248px;
}

.heading h1{
  position: relative;
  top: 50%;
  left:50^;
  transform: translate(-50%,-50%);
  width:500px;
  height:60px;
  text-align: center;
  line-height: 60px;
  color:#fff;
  font-size: 24px;
  text-transform: uppercase;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius:30px;
  z-index: 1;
}


.heading h1:hover{
  animation:animate 8s linear infinite;
}

@keyframes animate {
  0%{
    background-position:0%;
  }

  100%{
    background-position:400%;
  }
}

.heading h1:before{
  content:'';
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index:-1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius:40px;
  filter: blur(20px);
    animation:animate 8s linear infinite;
}


body {
  margin: 0;
  padding: 0;
}


#snow_fall{

  background-color: black;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
z-index: 0;
}



.custom-pegi{
  margin: 0 auto;
  margin-top: 20px;
}


.page-item.active .page-link{
background-color: #23A13A;
border-color: #23A13A;
}

 .page-link{
   color:#23A13A;
 }
